@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #4a00e0;
  --bg-color: #fff;
  --text-color: #0f0c27;
  --hover: hsl(260, 100%, 51%);
  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
}

section {
  padding: 50px 10%;
}

body.active {
  --text-color: #fff;
  --bg-color: #0f0c27;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

*::selection {
  color: var(--bg-color);
  background: var(--main-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 18px 10%;
  transition: 0.2s;
}

header.shadow {
  box-shadow: 0 0 4px rgb(14 55 54 / 15%);
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}

.navbar a:hover {
  color: var(--hover);
}

#menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 10001;
  display: none;
}

#darkmode {
  font-size: 22px;
  cursor: pointer;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.home-img {
  order: 3;
}

.home-img img {
  width: 100%;
}

.home-img .linha-1{
  z-index: 999999;
  position: fixed;
  width: 50%;
  border-radius: 50%;
  border-left: 4px solid #7e07ed;
  margin: auto;
  animation: ani01 5s linear infinite;
 }

 @keyframes ani01{
   0%{
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }

.home-texto span {
  font-size: var(--medium-font);
  font-weight: 500;
}

.home-texto h1 {
  font-size: var(--big-font);
}

.home-texto h2 {
  font-size: 1.1rem;
  font-weight: 400;
}

.home-texto p {
  font-size: var(--p-font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}

.social {
  display: flex;
  flex-direction: column;
}

.social a {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--text-color);
}

.social a:hover {
  color: var(--hover);
}

.btn {
  display: inline-block;
  background: var(--main-color);
  color: #fff;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.btn:hover {
  background: var(--hover);
}

.scroll-down {
  position: absolute;
  bottom: 4rem;
  left: 18.5%;
}

.scroll-down a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--text-color);
}

.scroll-down .bx {
  color: var(--main-color);
  font-size: 24px;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: var(--medium-font);
}

.heading span {
  font-size: 4rem;
  color:#7e07ed;
}

/*======SOBRE======*/

.sobre-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.sobre-img img {
  width: 80%;
}

.sobre-texto p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
}

.informacao {
  margin: 1rem 0 1.4rem;
}

.informacao .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}

.informacao .info-box .bx {
  font-size: 22px;
}

.informacao .info-box span {
  font-weight: 400;   
  margin-left: 1rem;
}


 /*=======CONHECIMENTOS=======*/

.conhecimentos-info {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 auto;
}

.conhecimentos-info h4 {
  margin-bottom: 20px;
}

.conhecimentos-info h4 label {
  background:var(--main-color);
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 5px;
}

.educacao {
  margin-top: 2rem;
}

.edu-lista .item {
  background: var(--bg-color);
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  border-bottom: 3px solid var(--main-color);
  padding: 20px;
  margin-top: 15px;
  border-radius: 6px;
  transition: .3s ease;
}

.edu-lista .item .ano {
  font-size: 0.941rem;
  margin-bottom: 5px;
}

.edu-lista .item p {
  color: #777;
  font-size: 0.8em;
}

.edu-lista .item p span {
  color: var(--main-color);
  font-size: 0.941rem;
  font-weight: 600;
}

.bar {
  background: var(--bg-color);
  box-shadow:  0px 0px 20px rgb(0 0 0 / 10%);
  border-bottom: 3px solid var(--main-color);
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 6px;
  transition: .3s ease;
}

.bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.bar .info span {
  font-weight: 600;
}

.bar .linha {
  position: relative;
  width: 100%;
  height: 7px;
  background: #c5cadf;
  border-radius: 2px;
}

.bar .linha:before { 
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--main-color);
  border-radius: 2px;
}

.bar .html:before {
  width: 70%;
}

.bar .css:before {
  width: 65%;
}

.bar .javascript:before {
  width: 60%;
}

.bar .java:before {
  width: 60%;
}

.bar .adobexd:before {
  width: 70%;
}

.edu-lista .item:hover, .bar:hover {
  transform: scale(1.03);
}

/*=======PROJETOS=======*/

.projeto-lista {
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  max-width: 100%;
}

.projeto-lista .img-card {
  position: relative;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

.projeto-lista .img-card .overlay {
  transition: 1s ease;
}

.projeto-lista .img-card:hover .overlay {
  z-index: 777;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.projeto-lista .img-card .info {
  z-index: 777;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: .5s ease;
}

.projeto-lista .img-card:hover .info {
  transform: translateY(0);
  opacity: 1;
}

.projeto-lista .img-card .info h3 {
 
  background: var(--main-color);
  color: #fff;
  font-size: var(--p-font);
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 5px;
}

.projeto-lista .img-card .info span {
  font-size: var(--p-font);
}

.projeto-lista .img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projeto-model {
  z-index: 999999;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  visibility: hidden;
  opacity: 0;
  transition: .3s ease;
}

.projeto-model.active {
  visibility: visible;
  opacity: 1;
}

.projeto-model-body {
  background: var(--bg-color);
  width: 70%;
  padding: 30px;
  transform: translateX(20%);
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  transition: .5s ease;
  display: grid;
  place-items: center;
  position: absolute;
}

.projeto-model.active .portfolio-model-body {
  transform: translateY(0);
}

.projeto-model p {
  font-size: 1em;
  font-weight: 400;
  color: var(--text-color);
}

.projeto-model p span {
  color: var(--main-color);
  font-weight: bold; 
}

.projeto-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
  color: var(--text-color);
  
}

.projeto-model-body h3{
  font-size: var(--p-font);
  font-weight: 600;
}

.projeto-model-body img {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
}

/*=======FOOTER=======*/

.footer {
  display: grid;
  place-items: center;
  padding: 50px;
  background: var(--main-color);
  color: #fff;
}

.footer h2 {
  font-size: var(--medium-font);
  margin-bottom: 1.4rem;
}

.footer-social a {
  color: #fff;
  font-size: 22px;
  padding: 10px;
}

/*=======RESPONSIVIDADE - EM CONSTRUÇÃO======*/

@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 881px) {
  :root {
    --big-font: 2.7rem;
    --medium-font: 1.4rem;
  }
}
@media (max-width: 768px) {
  :root {
    --big-font: 2.4rem;
    --medium-font: 1.2rem;
  }
  header {
    padding: 11px 4%;
  }
  #menu-icon {
    display: initial;
    color: var(--text-color);
  }
  header .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
    transition: 0.2s ease;
    text-align: center;
  }
  .navbar.active {
    top: 100%;
  }
  .navbar a {
    padding: 1.5rem;
    display: block;
    background: var(--bg-color);
  }
  #darkmode {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }
  .scroll-down {
    display: none;
  }
  .home {
    grid-template-columns: 0.5fr 3fr;
  }
  .home-texto {
    grid-column: 1/3;
    padding-left: 1.4rem;
  }
  .home-img {
    order: initial;
  }
  .sobre-container {
    grid-template-columns: 1fr;
  }
  .sobre-img {
    display: flex;
    justify-content: center;
  }
  .conhecimentos-container {
    grid-template-columns: 1fr;
  }
  .conhecimentos-img img {
    padding-left: 0;
  }
  .conhecimentos-img {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .projeto-model-body {
    transform: translateX(20%);
    margin-top: 6rem;
  }
}
@media (max-width: 340px) {
  :root {
    --big-font: 1.7rem;
    --medium-font: 1.1rem;
  }
  .home-texto span {
    font-size: 1rem;
  }
  .home-texto h2 {
    font-size: 0.9rem;
    font-weight: 500;
  }
  .informacao .info-box span {
    font-size: 1rem;
  }
  .projetos-conteudo {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
}
